/*
Template Name: Ubold - Responsive Bootstrap 4 Admin Dashboard
Author: CoderThemes
Version: 3.1.0
Website: https://coderthemes.com/
Contact: support@coderthemes.com
File: Main Css File
*/
@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700,900");
@font-face {
  font-family: "Cerebri Sans", sans-serif;
  src: url("../fonts/cerebrisans-light.eot");
  src: local("Cerebri-sans Light"), url("../fonts/cerebrisans-light.woff") format("woff");
  font-weight: 300; }

@font-face {
  font-family: "Cerebri Sans", sans-serif;
  src: url("../fonts/cerebrisans-regular.eot");
  src: local("Cerebri-sans Regular"), url("../fonts/cerebrisans-regular.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: "Cerebri Sans", sans-serif;
  src: url("../fonts/cerebrisans-medium.eot");
  src: local("Cerebri-sans Medium"), url("../fonts/cerebrisans-medium.woff") format("woff");
  font-weight: 500; }

@font-face {
  font-family: "Cerebri Sans", sans-serif;
  src: url("../fonts/cerebrisans-semibold.eot");
  src: local("Cerebri-sans Semibold"), url("../fonts/cerebrisans-semibold.woff") format("woff");
  font-weight: 600; }

@font-face {
  font-family: "Cerebri Sans", sans-serif;
  src: url("../fonts/cerebrisans-bold.eot");
  src: local("Cerebri-sans Bold"), url("../fonts/cerebrisans-bold.woff") format("woff");
  font-weight: 700; }

html {
  position: relative;
  min-height: 100%; }

body {
  padding-bottom: 60px;
  overflow-x: hidden; }

.metismenu {
  padding: 0; }
  .metismenu li {
    list-style: none; }
  .metismenu ul {
    padding: 0; }
    .metismenu ul li {
      width: 100%; }

.nav-second-level li a,
.nav-thrid-level li a {
  padding: 8px 20px;
  color: #6e768e;
  display: block;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 0.875rem; }
  .nav-second-level li a:focus, .nav-second-level li a:hover,
  .nav-thrid-level li a:focus,
  .nav-thrid-level li a:hover {
    color: #00acc1; }

.nav-second-level li.active > a,
.nav-third-level li.active > a {
  color: #00acc1; }

#wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%; }

.content-page {
  margin-left: 240px;
  overflow: hidden;
  padding: 0 15px 5px 15px;
  min-height: 80vh;
  margin-top: 70px; }

.left-side-menu {
  width: 240px;
  background: #ffffff;
  bottom: 0;
  padding: 20px 0;
  position: fixed;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  top: 70px;
  -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
          box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15); }

#sidebar-menu > ul > li > a {
  color: #6e768e;
  display: block;
  padding: 13px 20px;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-family: "Cerebri Sans", sans-serif;
  font-size: 0.95rem; }
  #sidebar-menu > ul > li > a:hover, #sidebar-menu > ul > li > a:focus, #sidebar-menu > ul > li > a:active {
    color: #00acc1;
    text-decoration: none; }
  #sidebar-menu > ul > li > a > span {
    vertical-align: middle; }
  #sidebar-menu > ul > li > a i {
    display: inline-block;
    line-height: 1.0625rem;
    margin: 0 10px 0 3px;
    text-align: center;
    vertical-align: middle;
    width: 20px; }
  #sidebar-menu > ul > li > a .drop-arrow {
    float: right; }
    #sidebar-menu > ul > li > a .drop-arrow i {
      margin-right: 0; }

#sidebar-menu > ul > li > a.active {
  color: #00acc1; }

#sidebar-menu > ul > li > ul {
  padding-left: 40px; }
  #sidebar-menu > ul > li > ul ul {
    padding-left: 20px; }

#sidebar-menu .menu-arrow {
  -webkit-transition: -webkit-transform .15s;
  transition: -webkit-transform .15s;
  transition: transform .15s;
  transition: transform .15s, -webkit-transform .15s;
  position: absolute;
  right: 20px;
  display: inline-block;
  font-family: 'Material Design Icons';
  text-rendering: auto;
  line-height: 1.5rem;
  font-size: 1.1rem;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0); }
  #sidebar-menu .menu-arrow:before {
    content: "\F142"; }

#sidebar-menu .badge {
  margin-top: 4px; }

#sidebar-menu li.active > a > span.menu-arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

#sidebar-menu .menu-title {
  padding: 10px 20px;
  letter-spacing: .05em;
  pointer-events: none;
  cursor: default;
  font-size: 0.6875rem;
  text-transform: uppercase;
  color: #6e768e;
  font-weight: 600; }

.enlarged .logo-box {
  width: 70px !important; }

.enlarged .logo span.logo-lg {
  display: none; }

.enlarged .logo span.logo-sm {
  display: block; }

.enlarged .left-side-menu {
  position: absolute;
  padding-top: 0;
  width: 70px !important;
  z-index: 5; }
  .enlarged .left-side-menu .slimScrollDiv,
  .enlarged .left-side-menu .slimscroll-menu {
    overflow: inherit !important;
    height: auto !important; }
  .enlarged .left-side-menu .slimScrollBar {
    visibility: hidden; }
  .enlarged .left-side-menu #sidebar-menu .menu-title,
  .enlarged .left-side-menu #sidebar-menu .menu-arrow,
  .enlarged .left-side-menu #sidebar-menu .label,
  .enlarged .left-side-menu #sidebar-menu .badge,
  .enlarged .left-side-menu #sidebar-menu .collapse.in {
    display: none !important; }
  .enlarged .left-side-menu #sidebar-menu .nav.collapse {
    height: inherit !important; }
  .enlarged .left-side-menu #sidebar-menu > ul > li {
    position: relative;
    white-space: nowrap; }
    .enlarged .left-side-menu #sidebar-menu > ul > li > a {
      padding: 15px 20px;
      min-height: 54px;
      -webkit-transition: none;
      transition: none; }
      .enlarged .left-side-menu #sidebar-menu > ul > li > a:hover, .enlarged .left-side-menu #sidebar-menu > ul > li > a:active, .enlarged .left-side-menu #sidebar-menu > ul > li > a:focus {
        color: #00acc1; }
      .enlarged .left-side-menu #sidebar-menu > ul > li > a i {
        font-size: 1.125rem;
        margin-right: 20px; }
      .enlarged .left-side-menu #sidebar-menu > ul > li > a span {
        display: none;
        padding-left: 25px; }
    .enlarged .left-side-menu #sidebar-menu > ul > li:hover > a {
      position: relative;
      width: calc(190px + 70px);
      color: #00acc1;
      background-color: #f1f5f7; }
      .enlarged .left-side-menu #sidebar-menu > ul > li:hover > a span {
        display: inline; }
    .enlarged .left-side-menu #sidebar-menu > ul > li:hover a.open :after, .enlarged .left-side-menu #sidebar-menu > ul > li:hover a.active :after {
      display: none; }
    .enlarged .left-side-menu #sidebar-menu > ul > li:hover > ul {
      display: block;
      left: 70px;
      position: absolute;
      width: 190px;
      height: auto !important;
      -webkit-box-shadow: 3px 5px 10px 0 rgba(154, 161, 171, 0.2);
              box-shadow: 3px 5px 10px 0 rgba(154, 161, 171, 0.2); }
      .enlarged .left-side-menu #sidebar-menu > ul > li:hover > ul ul {
        -webkit-box-shadow: 3px 5px 10px 0 rgba(154, 161, 171, 0.2);
                box-shadow: 3px 5px 10px 0 rgba(154, 161, 171, 0.2); }
      .enlarged .left-side-menu #sidebar-menu > ul > li:hover > ul a {
        -webkit-box-shadow: none;
                box-shadow: none;
        padding: 8px 20px;
        position: relative;
        width: 190px;
        z-index: 6; }
        .enlarged .left-side-menu #sidebar-menu > ul > li:hover > ul a:hover {
          color: #00acc1; }
  .enlarged .left-side-menu #sidebar-menu > ul ul {
    padding: 5px 0;
    z-index: 9999;
    background-color: #ffffff; }
    .enlarged .left-side-menu #sidebar-menu > ul ul li:hover > ul {
      display: block;
      left: 190px;
      margin-top: -36px;
      position: absolute;
      width: 190px; }
    .enlarged .left-side-menu #sidebar-menu > ul ul li > a span.pull-right {
      position: absolute;
      right: 20px;
      top: 12px;
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg); }
    .enlarged .left-side-menu #sidebar-menu > ul ul li.active a {
      color: #00acc1; }

.enlarged .content-page {
  margin-left: 70px !important; }

.enlarged .footer {
  left: 70px !important; }

.enlarged .user-box {
  display: none; }

body.enlarged {
  min-height: 1200px; }

@media (max-width: 767.98px) {
  body {
    overflow-x: hidden;
    padding-bottom: 80px; }
  .left-side-menu {
    display: none;
    z-index: 10 !important; }
  .sidebar-enable .left-side-menu {
    display: block; }
  .content-page, .enlarged .content-page {
    margin-left: 0 !important;
    padding: 0 10px; }
  .pro-user-name {
    display: none; }
  .logo-box {
    display: none; } }

/* =============
  Small Menu
============= */
.left-side-menu-sm .logo-box {
  width: 160px; }

.left-side-menu-sm .left-side-menu {
  width: 160px;
  text-align: center; }
  .left-side-menu-sm .left-side-menu #sidebar-menu > ul > li > a > i {
    display: block;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    margin: 0; }
  .left-side-menu-sm .left-side-menu #sidebar-menu > ul ul {
    padding-left: 0; }
    .left-side-menu-sm .left-side-menu #sidebar-menu > ul ul a {
      padding: 10px 20px; }
  .left-side-menu-sm .left-side-menu .menu-arrow,
  .left-side-menu-sm .left-side-menu .badge {
    display: none !important; }
  .left-side-menu-sm .left-side-menu + .content-page {
    margin-left: 160px; }
  .left-side-menu-sm .left-side-menu + .content-page .footer {
    left: 160px; }
  .left-side-menu-sm .left-side-menu .menu-title {
    background-color: #f1f5f7; }

.enlarged.left-side-menu-sm #wrapper .left-side-menu {
  text-align: left; }
  .enlarged.left-side-menu-sm #wrapper .left-side-menu ul li a i {
    display: inline-block;
    font-size: 18px;
    line-height: 17px;
    margin-left: 3px;
    margin-right: 15px;
    vertical-align: middle;
    width: 20px; }

.left-side-menu-dark .navbar-custom {
  background-color: #4a81d4; }

.left-side-menu-dark .left-side-menu {
  background-color: #38414a;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-right: 2px solid #3c4650; }
  .left-side-menu-dark .left-side-menu #sidebar-menu > ul > li > a {
    color: #9097a7; }
    .left-side-menu-dark .left-side-menu #sidebar-menu > ul > li > a:hover, .left-side-menu-dark .left-side-menu #sidebar-menu > ul > li > a:focus, .left-side-menu-dark .left-side-menu #sidebar-menu > ul > li > a:active {
      color: #c8cddc; }
  .left-side-menu-dark .left-side-menu #sidebar-menu > ul > li > a.active {
    color: #ffffff;
    background-color: #434e59;
    border-right-color: #ffffff; }
  .left-side-menu-dark .left-side-menu #sidebar-menu .menu-title {
    color: #adb5bd; }
  .left-side-menu-dark .left-side-menu .nav-second-level li a,
  .left-side-menu-dark .left-side-menu .nav-thrid-level li a {
    color: #9097a7; }
    .left-side-menu-dark .left-side-menu .nav-second-level li a:focus, .left-side-menu-dark .left-side-menu .nav-second-level li a:hover,
    .left-side-menu-dark .left-side-menu .nav-thrid-level li a:focus,
    .left-side-menu-dark .left-side-menu .nav-thrid-level li a:hover {
      background-color: transparent;
      color: #c8cddc; }
  .left-side-menu-dark .left-side-menu .nav-second-level li.active > a,
  .left-side-menu-dark .left-side-menu .nav-third-level li.active > a {
    color: #ffffff; }

.enlarged.left-side-menu-dark #wrapper .left-side-menu #sidebar-menu > ul > li:hover > a {
  background-color: #434e59; }

.user-pro-dropdown {
  background-color: #f1f5f7;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 15px 5px;
  width: 90%;
  margin-left: 5%;
  margin-top: 10px; }
  .user-pro-dropdown .dropdown-item {
    border-radius: 3px; }
    .user-pro-dropdown .dropdown-item:hover {
      background-color: #4a81d4;
      color: #fff; }

.logo {
  display: block;
  line-height: 70px; }
  .logo span.logo-lg {
    display: block; }
  .logo span.logo-sm {
    display: none; }
  .logo .logo-lg-text-dark {
    color: #323a46;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase; }
  .logo .logo-lg-text-light {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase; }

.logo-box {
  height: 70px;
  width: 240px;
  float: left; }

.navbar-custom {
  background-color: #38414a;
  -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
          box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  padding: 0 10px 0 0;
  position: fixed;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 100;
  /* Search */ }
  .navbar-custom .topnav-menu > li {
    float: left; }
  .navbar-custom .topnav-menu .nav-link {
    padding: 0 15px;
    color: rgba(255, 255, 255, 0.6);
    min-width: 32px;
    display: block;
    line-height: 70px;
    text-align: center;
    max-height: 70px; }
  .navbar-custom .dropdown.show .nav-link {
    background-color: rgba(255, 255, 255, 0.05); }
  .navbar-custom .app-search {
    overflow: hidden;
    height: 70px;
    display: table;
    max-width: 180px;
    margin-right: 20px; }
    .navbar-custom .app-search .app-search-box {
      display: table-cell;
      vertical-align: middle; }
      .navbar-custom .app-search .app-search-box input::-webkit-input-placeholder {
        font-size: 0.8125rem;
        color: rgba(255, 255, 255, 0.3); }
    .navbar-custom .app-search .form-control {
      border: none;
      height: 38px;
      padding-left: 20px;
      padding-right: 0;
      color: #fff;
      background-color: rgba(255, 255, 255, 0.07);
      -webkit-box-shadow: none;
              box-shadow: none;
      border-radius: 30px 0 0 30px; }
    .navbar-custom .app-search .input-group-append {
      margin-left: 0;
      z-index: 4; }
    .navbar-custom .app-search .btn {
      background-color: rgba(255, 255, 255, 0.07);
      border-color: transparent;
      color: rgba(255, 255, 255, 0.3);
      border-radius: 0 30px 30px 0;
      -webkit-box-shadow: none !important;
              box-shadow: none !important; }
  .navbar-custom .button-menu-mobile {
    border: none;
    color: #fff;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    width: 60px;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer; }
  .navbar-custom .button-menu-mobile.disable-btn {
    display: none; }

/* Notification */
.noti-scroll {
  max-height: 230px; }

.notification-list {
  margin-left: 0; }
  .notification-list .noti-title {
    background-color: #fff;
    padding: 15px 20px; }
  .notification-list .noti-icon {
    font-size: 21px;
    vertical-align: middle; }
  .notification-list .noti-icon-badge {
    display: inline-block;
    position: absolute;
    top: 16px;
    right: 10px; }
  .notification-list .notify-item {
    padding: 12px 20px; }
    .notification-list .notify-item .notify-icon {
      float: left;
      height: 36px;
      width: 36px;
      font-size: 18px;
      line-height: 36px;
      text-align: center;
      margin-right: 10px;
      border-radius: 50%;
      color: #fff; }
    .notification-list .notify-item .notify-details {
      margin-bottom: 5px;
      overflow: hidden;
      margin-left: 45px;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #343a40; }
      .notification-list .notify-item .notify-details b {
        font-weight: 500; }
      .notification-list .notify-item .notify-details small {
        display: block; }
      .notification-list .notify-item .notify-details span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px; }
    .notification-list .notify-item .user-msg {
      margin-left: 45px;
      white-space: normal;
      line-height: 16px; }
  .notification-list .profile-dropdown .notify-item {
    padding: 7px 20px; }

.profile-dropdown {
  width: 170px; }
  .profile-dropdown i {
    vertical-align: middle;
    margin-right: 5px; }

.nav-user {
  padding: 0 12px !important; }
  .nav-user img {
    height: 32px;
    width: 32px; }

.navbar-custom-light {
  background-color: #ffffff !important;
  /* Search */ }
  .navbar-custom-light .topnav-menu .nav-link {
    color: #6c757d; }
  .navbar-custom-light .dropdown.show .nav-link {
    background-color: rgba(50, 58, 70, 0.03); }
  .navbar-custom-light .button-menu-mobile {
    color: #323a46; }
  .navbar-custom-light .app-search input::-webkit-input-placeholder {
    color: #adb5bd !important; }
  .navbar-custom-light .app-search .form-control {
    color: #323a46;
    background-color: #f1f5f7;
    border-color: #f1f5f7; }
  .navbar-custom-light .app-search .btn {
    background-color: #f1f5f7;
    color: #ced4da; }

.page-title-box .page-title {
  font-size: 1.25rem;
  margin: 0;
  line-height: 75px;
  color: #323a46; }

.page-title-box .page-title-right {
  float: right;
  margin-top: 22px; }

.page-title-box .breadcrumb {
  padding-top: 5px; }

@media (max-width: 767.98px) {
  .page-title-box .page-title {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 70px; }
  .page-title-box .breadcrumb {
    display: none; } }

@media (max-width: 640px) {
  .page-title-box .page-title-right {
    display: none; } }

@media (max-width: 419px) {
  .page-title-box .breadcrumb {
    display: none; } }

.footer {
  bottom: 0;
  padding: 19px 15px 20px;
  position: absolute;
  right: 0;
  color: #98a6ad;
  left: 240px;
  background-color: #eeeff3; }
  .footer .footer-links a {
    color: #98a6ad;
    margin-left: 1.5rem;
    -webkit-transition: all .4s;
    transition: all .4s; }
    .footer .footer-links a:hover {
      color: #323a46; }
    .footer .footer-links a:first-of-type {
      margin-left: 0; }

.footer-alt {
  left: 0 !important;
  text-align: center;
  background-color: transparent; }

@media (max-width: 767.98px) {
  .footer {
    left: 0 !important;
    text-align: center; } }

.right-bar {
  background-color: #fff;
  -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  display: block;
  position: fixed;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  width: 260px;
  z-index: 9999;
  float: right !important;
  right: -270px;
  top: 0;
  bottom: 0; }
  .right-bar .rightbar-title {
    background-color: #4a81d4;
    padding: 27px 25px;
    color: #fff; }
  .right-bar .right-bar-toggle {
    background-color: #414b5b;
    height: 24px;
    width: 24px;
    line-height: 27px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    margin-top: -4px; }
    .right-bar .right-bar-toggle:hover {
      background-color: #475364; }
  .right-bar .user-box {
    padding: 25px;
    text-align: center; }
    .right-bar .user-box .user-img {
      position: relative;
      height: 64px;
      width: 64px;
      margin: 0 auto 15px auto; }
      .right-bar .user-box .user-img .user-edit {
        position: absolute;
        right: -5px;
        bottom: 0px;
        height: 24px;
        width: 24px;
        background-color: #fff;
        line-height: 24px;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
                box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12); }
    .right-bar .user-box h5 {
      margin-bottom: 2px; }
      .right-bar .user-box h5 a {
        color: #323a46; }

.rightbar-overlay {
  background-color: rgba(50, 58, 70, 0.55);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 9998;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out; }

.right-bar-enabled .right-bar {
  right: 0; }

.right-bar-enabled .rightbar-overlay {
  display: block; }

@media (max-width: 767.98px) {
  .right-bar {
    overflow: auto; }
    .right-bar .slimscroll-menu {
      height: auto !important; } }

body.boxed-layout #wrapper {
  max-width: 1300px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12); }

body.boxed-layout .navbar-custom {
  max-width: 1300px;
  margin: 0 auto; }

body.boxed-layout .footer {
  margin: 0 auto;
  max-width: calc(1300px - 240px); }

body.boxed-layout.enlarged .footer {
  max-width: calc(1300px - 70px); }

.width-xs {
  min-width: 80px; }

.width-sm {
  min-width: 100px; }

.width-md {
  min-width: 120px; }

.width-lg {
  min-width: 140px; }

.width-xl {
  min-width: 160px; }

.font-family-secondary {
  font-family: "Cerebri Sans", sans-serif; }

.avatar-xs {
  height: 1.5rem;
  width: 1.5rem; }

.avatar-sm {
  height: 2.25rem;
  width: 2.25rem; }

.avatar-md {
  height: 3.5rem;
  width: 3.5rem; }

.avatar-lg {
  height: 4.5rem;
  width: 4.5rem; }

.avatar-xl {
  height: 6rem;
  width: 6rem; }

.avatar-xxl {
  height: 7.5rem;
  width: 7.5rem; }

.avatar-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.avatar-group {
  padding-left: 12px; }
  .avatar-group .avatar-group-item {
    margin: 0 0 10px -12px;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%; }

.sp-line-1,
.sp-line-2,
.sp-line-3,
.sp-line-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical; }

.sp-line-1 {
  -webkit-line-clamp: 1; }

.sp-line-2 {
  -webkit-line-clamp: 2; }

.sp-line-3 {
  -webkit-line-clamp: 3; }

.sp-line-4 {
  -webkit-line-clamp: 4; }

.social-list-item {
  height: 2rem;
  width: 2rem;
  line-height: calc(2rem - 2px);
  display: block;
  border: 2px solid #adb5bd;
  border-radius: 50%;
  color: #adb5bd; }

.widget-flat {
  position: relative;
  overflow: hidden; }
  .widget-flat i.widget-icon {
    font-size: 36px; }

.inbox-widget .inbox-item {
  border-bottom: 1px solid white;
  overflow: hidden;
  padding: 0.625rem 0;
  position: relative; }
  .inbox-widget .inbox-item:last-of-type {
    border-bottom: none; }
  .inbox-widget .inbox-item .inbox-item-img {
    display: block;
    float: left;
    margin-right: 15px;
    width: 40px; }
    .inbox-widget .inbox-item .inbox-item-img img {
      width: 40px; }
  .inbox-widget .inbox-item .inbox-item-author {
    color: #323a46;
    display: block;
    margin-bottom: 3px; }
  .inbox-widget .inbox-item .inbox-item-text {
    color: #98a6ad;
    display: block;
    font-size: 0.8125rem;
    margin: 0;
    overflow: hidden; }
  .inbox-widget .inbox-item .inbox-item-date {
    color: #98a6ad;
    font-size: 0.6875rem;
    position: absolute;
    right: 5px;
    top: 10px; }

/* Chat widget */
.conversation-list {
  list-style: none;
  height: 332px;
  padding: 0 20px; }
  .conversation-list li {
    margin-bottom: 24px; }
  .conversation-list .chat-avatar {
    float: left;
    text-align: center;
    width: 42px; }
    .conversation-list .chat-avatar img {
      border-radius: 100%;
      width: 100%; }
    .conversation-list .chat-avatar i {
      font-size: 12px;
      font-style: normal; }
  .conversation-list .ctext-wrap {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #f7f7f7;
    border-radius: 3px;
    display: inline-block;
    padding: 12px;
    position: relative; }
    .conversation-list .ctext-wrap i {
      display: block;
      font-size: 12px;
      font-style: normal;
      font-weight: bold;
      position: relative; }
    .conversation-list .ctext-wrap p {
      margin: 0;
      padding-top: 3px; }
    .conversation-list .ctext-wrap:after {
      right: 99%;
      top: 0;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: #f7f7f7;
      border-width: 8px;
      margin-left: -1px;
      border-right-color: #f7f7f7; }
  .conversation-list .conversation-text {
    float: left;
    font-size: 12px;
    margin-left: 12px;
    width: 70%; }
  .conversation-list .odd .chat-avatar {
    float: right !important; }
  .conversation-list .odd .conversation-text {
    float: right !important;
    margin-right: 12px;
    text-align: right;
    width: 70% !important; }
  .conversation-list .odd .ctext-wrap {
    background-color: #fef5e4; }
    .conversation-list .odd .ctext-wrap:after {
      border-color: transparent;
      border-left-color: #fef5e4;
      border-top-color: #fef5e4;
      left: 99% !important; }

.checkbox label {
  display: inline-block;
  padding-left: 8px;
  position: relative;
  font-weight: normal;
  margin-bottom: 0; }
  .checkbox label::before {
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    background-color: #fff;
    border-radius: 3px;
    border: 2px solid #98a6ad;
    content: "";
    display: inline-block;
    height: 18px;
    left: 0;
    margin-left: -18px;
    position: absolute;
    transition: 0.3s ease-in-out;
    width: 18px;
    outline: none !important;
    top: 2px; }
  .checkbox label::after {
    color: #6c757d;
    display: inline-block;
    font-size: 11px;
    height: 18px;
    left: 0;
    margin-left: -18px;
    padding-left: 3px;
    padding-top: 2px;
    position: absolute;
    top: 0;
    width: 18px; }

.checkbox input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important; }
  .checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }

.checkbox input[type="checkbox"]:focus + label::before {
  outline-offset: -2px;
  outline: none; }

.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 7px;
  display: table;
  width: 4px;
  height: 8px;
  border: 2px solid #6c757d;
  border-top-width: 0;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #f1f5f7;
  cursor: not-allowed; }

.checkbox.checkbox-circle label::before {
  border-radius: 50%; }

.checkbox.checkbox-inline {
  margin-top: 0; }

.checkbox.checkbox-single input {
  height: 18px;
  width: 18px;
  position: absolute; }

.checkbox.checkbox-single label {
  height: 18px;
  width: 18px; }
  .checkbox.checkbox-single label:before {
    margin-left: 0; }
  .checkbox.checkbox-single label:after {
    margin-left: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #4a81d4;
  border-color: #4a81d4; }

.checkbox-primary input[type="checkbox"]:checked + label::after {
  border-color: #fff; }

.checkbox-secondary input[type="checkbox"]:checked + label::before {
  background-color: #6c757d;
  border-color: #6c757d; }

.checkbox-secondary input[type="checkbox"]:checked + label::after {
  border-color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #1abc9c;
  border-color: #1abc9c; }

.checkbox-success input[type="checkbox"]:checked + label::after {
  border-color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #4fc6e1;
  border-color: #4fc6e1; }

.checkbox-info input[type="checkbox"]:checked + label::after {
  border-color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f7b84b;
  border-color: #f7b84b; }

.checkbox-warning input[type="checkbox"]:checked + label::after {
  border-color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #f1556c;
  border-color: #f1556c; }

.checkbox-danger input[type="checkbox"]:checked + label::after {
  border-color: #fff; }

.checkbox-light input[type="checkbox"]:checked + label::before {
  background-color: #f1f5f7;
  border-color: #f1f5f7; }

.checkbox-light input[type="checkbox"]:checked + label::after {
  border-color: #fff; }

.checkbox-dark input[type="checkbox"]:checked + label::before {
  background-color: #323a46;
  border-color: #323a46; }

.checkbox-dark input[type="checkbox"]:checked + label::after {
  border-color: #fff; }

.checkbox-pink input[type="checkbox"]:checked + label::before {
  background-color: #f672a7;
  border-color: #f672a7; }

.checkbox-pink input[type="checkbox"]:checked + label::after {
  border-color: #fff; }

.checkbox-blue input[type="checkbox"]:checked + label::before {
  background-color: #4a81d4;
  border-color: #4a81d4; }

.checkbox-blue input[type="checkbox"]:checked + label::after {
  border-color: #fff; }

.radio label {
  display: inline-block;
  padding-left: 8px;
  position: relative;
  font-weight: normal;
  margin-bottom: 0; }
  .radio label::before {
    -o-transition: border 0.5s ease-in-out;
    -webkit-transition: border 0.5s ease-in-out;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #98a6ad;
    content: "";
    display: inline-block;
    height: 18px;
    left: 0;
    margin-left: -18px;
    position: absolute;
    transition: border 0.5s ease-in-out;
    width: 18px;
    outline: none !important; }
  .radio label::after {
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -webkit-transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    background-color: #6c757d;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 10px;
    left: 6px;
    margin-left: -20px;
    position: absolute;
    top: 4px;
    transform: scale(0, 0);
    transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    width: 10px; }

.radio input[type="radio"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important; }
  .radio input[type="radio"]:disabled + label {
    opacity: 0.65; }

.radio input[type="radio"]:focus + label::before {
  outline-offset: -2px;
  outline: 5px auto -webkit-focus-ring-color;
  outline: thin dotted; }

.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1); }

.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed; }

.radio.radio-inline {
  margin-top: 0; }

.radio.radio-single label {
  height: 17px; }

.radio-primary input[type="radio"] + label::after {
  background-color: #4a81d4; }

.radio-primary input[type="radio"]:checked + label::before {
  border-color: #4a81d4; }

.radio-primary input[type="radio"]:checked + label::after {
  background-color: #4a81d4; }

.radio-secondary input[type="radio"] + label::after {
  background-color: #6c757d; }

.radio-secondary input[type="radio"]:checked + label::before {
  border-color: #6c757d; }

.radio-secondary input[type="radio"]:checked + label::after {
  background-color: #6c757d; }

.radio-success input[type="radio"] + label::after {
  background-color: #1abc9c; }

.radio-success input[type="radio"]:checked + label::before {
  border-color: #1abc9c; }

.radio-success input[type="radio"]:checked + label::after {
  background-color: #1abc9c; }

.radio-info input[type="radio"] + label::after {
  background-color: #4fc6e1; }

.radio-info input[type="radio"]:checked + label::before {
  border-color: #4fc6e1; }

.radio-info input[type="radio"]:checked + label::after {
  background-color: #4fc6e1; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f7b84b; }

.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f7b84b; }

.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f7b84b; }

.radio-danger input[type="radio"] + label::after {
  background-color: #f1556c; }

.radio-danger input[type="radio"]:checked + label::before {
  border-color: #f1556c; }

.radio-danger input[type="radio"]:checked + label::after {
  background-color: #f1556c; }

.radio-light input[type="radio"] + label::after {
  background-color: #f1f5f7; }

.radio-light input[type="radio"]:checked + label::before {
  border-color: #f1f5f7; }

.radio-light input[type="radio"]:checked + label::after {
  background-color: #f1f5f7; }

.radio-dark input[type="radio"] + label::after {
  background-color: #323a46; }

.radio-dark input[type="radio"]:checked + label::before {
  border-color: #323a46; }

.radio-dark input[type="radio"]:checked + label::after {
  background-color: #323a46; }

.radio-pink input[type="radio"] + label::after {
  background-color: #f672a7; }

.radio-pink input[type="radio"]:checked + label::before {
  border-color: #f672a7; }

.radio-pink input[type="radio"]:checked + label::after {
  background-color: #f672a7; }

.radio-blue input[type="radio"] + label::after {
  background-color: #4a81d4; }

.radio-blue input[type="radio"]:checked + label::before {
  border-color: #4a81d4; }

.radio-blue input[type="radio"]:checked + label::after {
  background-color: #4a81d4; }

.ribbon-box {
  position: relative;
  /* Ribbon two */ }
  .ribbon-box .ribbon {
    position: relative;
    clear: both;
    padding: 5px 12px;
    margin-bottom: 15px;
    -webkit-box-shadow: 2px 5px 10px rgba(50, 58, 70, 0.15);
            box-shadow: 2px 5px 10px rgba(50, 58, 70, 0.15);
    color: #fff;
    font-size: 13px;
    font-weight: 600; }
    .ribbon-box .ribbon:before {
      content: " ";
      border-style: solid;
      border-width: 10px;
      display: block;
      position: absolute;
      bottom: -10px;
      left: 0;
      margin-bottom: -10px;
      z-index: -1; }
    .ribbon-box .ribbon.float-left {
      margin-left: -30px;
      border-radius: 0 3px 3px 0; }
    .ribbon-box .ribbon.float-right {
      margin-right: -30px;
      border-radius: 3px 0 0 3px; }
      .ribbon-box .ribbon.float-right:before {
        right: 0; }
    .ribbon-box .ribbon.float-center span {
      margin: 0 auto 20px auto; }
  .ribbon-box .ribbon-content {
    clear: both; }
  .ribbon-box .ribbon-primary {
    background: #4a81d4; }
    .ribbon-box .ribbon-primary:before {
      border-color: #2d67be transparent transparent; }
  .ribbon-box .ribbon-secondary {
    background: #6c757d; }
    .ribbon-box .ribbon-secondary:before {
      border-color: #545b62 transparent transparent; }
  .ribbon-box .ribbon-success {
    background: #1abc9c; }
    .ribbon-box .ribbon-success:before {
      border-color: #148f77 transparent transparent; }
  .ribbon-box .ribbon-info {
    background: #4fc6e1; }
    .ribbon-box .ribbon-info:before {
      border-color: #25b7d8 transparent transparent; }
  .ribbon-box .ribbon-warning {
    background: #f7b84b; }
    .ribbon-box .ribbon-warning:before {
      border-color: #f5a51a transparent transparent; }
  .ribbon-box .ribbon-danger {
    background: #f1556c; }
    .ribbon-box .ribbon-danger:before {
      border-color: #ed2643 transparent transparent; }
  .ribbon-box .ribbon-light {
    background: #f1f5f7; }
    .ribbon-box .ribbon-light:before {
      border-color: #d1dee4 transparent transparent; }
  .ribbon-box .ribbon-dark {
    background: #323a46; }
    .ribbon-box .ribbon-dark:before {
      border-color: #1d2128 transparent transparent; }
  .ribbon-box .ribbon-pink {
    background: #f672a7; }
    .ribbon-box .ribbon-pink:before {
      border-color: #f34289 transparent transparent; }
  .ribbon-box .ribbon-blue {
    background: #4a81d4; }
    .ribbon-box .ribbon-blue:before {
      border-color: #2d67be transparent transparent; }
  .ribbon-box .ribbon-two {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right; }
    .ribbon-box .ribbon-two span {
      font-size: 13px;
      color: #fff;
      text-align: center;
      line-height: 20px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      width: 100px;
      display: block;
      -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
              box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
      position: absolute;
      top: 19px;
      left: -21px;
      font-weight: 600; }
      .ribbon-box .ribbon-two span:before {
        content: "";
        position: absolute;
        left: 0;
        top: 100%;
        z-index: -1;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent; }
      .ribbon-box .ribbon-two span:after {
        content: "";
        position: absolute;
        right: 0;
        top: 100%;
        z-index: -1;
        border-left: 3px solid transparent;
        border-bottom: 3px solid transparent; }
  .ribbon-box .ribbon-two-primary span {
    background: #4a81d4; }
    .ribbon-box .ribbon-two-primary span:before {
      border-left: 3px solid #285ca9;
      border-top: 3px solid #285ca9; }
    .ribbon-box .ribbon-two-primary span:after {
      border-right: 3px solid #285ca9;
      border-top: 3px solid #285ca9; }
  .ribbon-box .ribbon-two-secondary span {
    background: #6c757d; }
    .ribbon-box .ribbon-two-secondary span:before {
      border-left: 3px solid #494f54;
      border-top: 3px solid #494f54; }
    .ribbon-box .ribbon-two-secondary span:after {
      border-right: 3px solid #494f54;
      border-top: 3px solid #494f54; }
  .ribbon-box .ribbon-two-success span {
    background: #1abc9c; }
    .ribbon-box .ribbon-two-success span:before {
      border-left: 3px solid #117964;
      border-top: 3px solid #117964; }
    .ribbon-box .ribbon-two-success span:after {
      border-right: 3px solid #117964;
      border-top: 3px solid #117964; }
  .ribbon-box .ribbon-two-info span {
    background: #4fc6e1; }
    .ribbon-box .ribbon-two-info span:before {
      border-left: 3px solid #21a5c2;
      border-top: 3px solid #21a5c2; }
    .ribbon-box .ribbon-two-info span:after {
      border-right: 3px solid #21a5c2;
      border-top: 3px solid #21a5c2; }
  .ribbon-box .ribbon-two-warning span {
    background: #f7b84b; }
    .ribbon-box .ribbon-two-warning span:before {
      border-left: 3px solid #eb990a;
      border-top: 3px solid #eb990a; }
    .ribbon-box .ribbon-two-warning span:after {
      border-right: 3px solid #eb990a;
      border-top: 3px solid #eb990a; }
  .ribbon-box .ribbon-two-danger span {
    background: #f1556c; }
    .ribbon-box .ribbon-two-danger span:before {
      border-left: 3px solid #e71332;
      border-top: 3px solid #e71332; }
    .ribbon-box .ribbon-two-danger span:after {
      border-right: 3px solid #e71332;
      border-top: 3px solid #e71332; }
  .ribbon-box .ribbon-two-light span {
    background: #f1f5f7; }
    .ribbon-box .ribbon-two-light span:before {
      border-left: 3px solid #c0d2db;
      border-top: 3px solid #c0d2db; }
    .ribbon-box .ribbon-two-light span:after {
      border-right: 3px solid #c0d2db;
      border-top: 3px solid #c0d2db; }
  .ribbon-box .ribbon-two-dark span {
    background: #323a46; }
    .ribbon-box .ribbon-two-dark span:before {
      border-left: 3px solid #121519;
      border-top: 3px solid #121519; }
    .ribbon-box .ribbon-two-dark span:after {
      border-right: 3px solid #121519;
      border-top: 3px solid #121519; }
  .ribbon-box .ribbon-two-pink span {
    background: #f672a7; }
    .ribbon-box .ribbon-two-pink span:before {
      border-left: 3px solid #f12a7a;
      border-top: 3px solid #f12a7a; }
    .ribbon-box .ribbon-two-pink span:after {
      border-right: 3px solid #f12a7a;
      border-top: 3px solid #f12a7a; }
  .ribbon-box .ribbon-two-blue span {
    background: #4a81d4; }
    .ribbon-box .ribbon-two-blue span:before {
      border-left: 3px solid #285ca9;
      border-top: 3px solid #285ca9; }
    .ribbon-box .ribbon-two-blue span:after {
      border-right: 3px solid #285ca9;
      border-top: 3px solid #285ca9; }

@media print {
  .left-side-menu,
  .right-bar,
  .page-title-box,
  .navbar-custom,
  .footer {
    display: none; }
  .card-body,
  .content-page,
  .right-bar,
  .content,
  body {
    padding: 0;
    margin: 0; } }

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999; }

#status {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px; }

.spinner {
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid #dee2e6;
  border-right: 5px solid #dee2e6;
  border-bottom: 5px solid #dee2e6;
  border-left: 5px solid #4a81d4;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-animation: SpinnerAnimation 1.1s infinite linear;
          animation: SpinnerAnimation 1.1s infinite linear; }

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 40px;
  height: 40px; }

@-webkit-keyframes SpinnerAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes SpinnerAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*!
* metismenu - v2.7.9
* A jQuery menu plugin
* https://github.com/onokumus/metismenu#readme
*
* Made by Osman Nuri Okumus <onokumus@gmail.com> (https://github.com/onokumus)
* Under MIT License
*/
.metismenu .arrow {
  float: right;
  line-height: 1.42857; }

*[dir="rtl"] .metismenu .arrow {
  float: left; }

/*
 * Require Bootstrap 3.x
 * https://github.com/twbs/bootstrap
*/
.metismenu .glyphicon.arrow:before {
  content: "\e079"; }

.metismenu .active > a > .glyphicon.arrow:before {
  content: "\e114"; }

/*
 * Require Font-Awesome
 * http://fortawesome.github.io/Font-Awesome/
*/
.metismenu .fa.arrow:before {
  content: "\f104"; }

.metismenu .active > a > .fa.arrow:before {
  content: "\f107"; }

/*
 * Require Ionicons
 * http://ionicons.com/
*/
.metismenu .ion.arrow:before {
  content: "\f3d2"; }

.metismenu .active > a > .ion.arrow:before {
  content: "\f3d0"; }

.metismenu .plus-times {
  float: right; }

*[dir="rtl"] .metismenu .plus-times {
  float: left; }

.metismenu .fa.plus-times:before {
  content: "\f067"; }

.metismenu .active > a > .fa.plus-times {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.metismenu .plus-minus {
  float: right; }

*[dir="rtl"] .metismenu .plus-minus {
  float: left; }

.metismenu .fa.plus-minus:before {
  content: "\f067"; }

.metismenu .active > a > .fa.plus-minus:before {
  content: "\f068"; }

.metismenu .collapse {
  display: none; }

.metismenu .collapse.in {
  display: block; }

.metismenu .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility; }

.metismenu .has-arrow {
  position: relative; }

.metismenu .has-arrow::after {
  position: absolute;
  content: '';
  width: .5em;
  height: .5em;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: initial;
  right: 1em;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
  transform: rotate(-45deg) translate(0, -50%);
  -webkit-transform-origin: top;
  transform-origin: top;
  top: 50%;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out; }

*[dir="rtl"] .metismenu .has-arrow::after {
  right: auto;
  left: 1em;
  -webkit-transform: rotate(135deg) translate(0, -50%);
  transform: rotate(135deg) translate(0, -50%); }

.metismenu .active > .has-arrow::after,
.metismenu .has-arrow[aria-expanded="true"]::after {
  -webkit-transform: rotate(-135deg) translate(0, -50%);
  transform: rotate(-135deg) translate(0, -50%); }

*[dir="rtl"] .metismenu .active > .has-arrow::after,
*[dir="rtl"] .metismenu .has-arrow[aria-expanded="true"]::after {
  -webkit-transform: rotate(225deg) translate(0, -50%);
  transform: rotate(225deg) translate(0, -50%); }

/*# sourceMappingURL=metisMenu.css.map */
/*!
 * Waves v0.7.6
 * http://fian.my.id/Waves 
 * 
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors 
 * Released under the MIT license 
 * https://github.com/fians/Waves/blob/master/LICENSE */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  pointer-events: none; }

.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%); }

.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2); }

.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4); }

.waves-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); }

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1; }

.waves-button {
  padding: 0.85em 1.1em;
  border-radius: 0.2em; }

.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em; }

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom; }

.waves-input-wrapper.waves-button {
  padding: 0; }

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1; }

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%; }

.waves-float {
  -webkit-mask-image: none;
  -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 300ms;
  transition: all 300ms; }

.waves-float:active {
  -webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3); }

.waves-block {
  display: block; }

.irs--flat .irs-bar,
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single,
.irs--modern .irs-bar,
.irs--modern .irs-from,
.irs--modern .irs-to,
.irs--modern .irs-single {
  background-color: #4a81d4; }

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child,
.irs--flat .irs-handle > i:first-child,
.irs--modern .irs-handle.state_hover > i:first-child,
.irs--modern .irs-handle:hover > i:first-child,
.irs--modern .irs-handle > i:first-child {
  background-color: #3573cf; }

.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before,
.irs--modern .irs-from:before,
.irs--modern .irs-to:before,
.irs--modern .irs-single:before {
  border-top-color: #4a81d4; }

.irs--modern .irs-line {
  border: none; }

.irs--modern .irs-bar {
  background: #4a81d4;
  background: -webkit-gradient(linear, left top, left bottom, from(#4a81d4), to(#2d67be));
  background: linear-gradient(to bottom, #4a81d4 0%, #2d67be 100%); }

.irs--sharp .irs-from,
.irs--sharp .irs-to,
.irs--sharp .irs-single,
.irs--sharp .irs-min,
.irs--sharp .irs-max,
.irs--sharp .irs-handle,
.irs--sharp .irs-bar {
  background-color: #4a81d4; }

.irs--sharp .irs-line {
  background-color: #dee2e6; }

.irs--sharp .irs-from:before,
.irs--sharp .irs-to:before,
.irs--sharp .irs-single:before,
.irs--sharp .irs-handle > i:first-child {
  border-top-color: #4a81d4; }

.irs--sharp .irs-handle.state_hover,
.irs--sharp .irs-handle:hover {
  background-color: #285ca9; }

.irs--sharp .irs-handle.state_hover > i:first-child,
.irs--sharp .irs-handle:hover > i:first-child {
  border-top-color: #285ca9; }

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single,
.irs--round .irs-bar {
  background-color: #4a81d4; }
  .irs--round .irs-from:before,
  .irs--round .irs-to:before,
  .irs--round .irs-single:before,
  .irs--round .irs-bar:before {
    border-top-color: #4a81d4; }

.irs--round .irs-handle {
  border: 4px solid #4a81d4;
  -webkit-box-shadow: 0 1px 3px rgba(74, 129, 212, 0.3);
          box-shadow: 0 1px 3px rgba(74, 129, 212, 0.3); }

.irs--round .irs-min,
.irs--round .irs-max {
  color: #6c757d;
  background-color: #dee2e6; }

.irs--square .irs-from,
.irs--square .irs-to,
.irs--square .irs-single,
.irs--square .irs-bar {
  background-color: #343a40; }

.irs--square .irs-handle {
  border: 3px solid #343a40; }

.calendar {
  float: left;
  margin-bottom: 0; }

.fc-view {
  margin-top: 30px; }

.none-border .modal-footer {
  border-top: none; }

.fc-toolbar {
  margin: 15px 0 5px 0; }
  .fc-toolbar h2 {
    font-size: 1.25rem;
    line-height: 1.875rem;
    text-transform: uppercase; }

.fc-day-grid-event .fc-time {
  font-weight: 700; }

.fc-day {
  background: #fff; }

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar button:focus,
.fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
  z-index: 0; }

.fc th.fc-widget-header {
  background: #f1f5f7;
  font-size: 13px;
  line-height: 20px;
  padding: 10px 0;
  text-transform: uppercase; }

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
  border-color: #dee2e6; }

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  float: right;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  background-color: #f1f5f7;
  border-radius: 50%;
  margin: 5px;
  font-family: "Cerebri Sans", sans-serif;
  font-size: 12px; }

.fc-button {
  background: #f1f5f7;
  border: none;
  color: #6c757d;
  text-transform: capitalize;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 3px;
  margin: 0 3px;
  padding: 6px 12px;
  height: auto; }

.fc-text-arrow {
  font-family: inherit;
  font-size: 1rem; }

.fc-state-hover {
  background: #f1f5f7; }

.fc-state-highlight {
  background: #dee2e6; }

.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  background-color: #4a81d4;
  color: #fff;
  text-shadow: none; }

.fc-cell-overlay {
  background: #dee2e6; }

.fc-unthemed .fc-today {
  background: #fff; }

.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 0.8125rem;
  margin: 5px 7px;
  padding: 5px 5px;
  text-align: center; }

.external-event {
  cursor: move;
  margin: 10px 0;
  padding: 8px 10px;
  color: #fff; }

.fc-basic-view td.fc-week-number span {
  padding-right: 8px; }

.fc-basic-view td.fc-day-number {
  padding-right: 8px; }

.fc-basic-view .fc-content {
  color: #fff; }

.fc-time-grid-event .fc-content {
  color: #fff; }

@media (max-width: 767.98px) {
  .fc-toolbar .fc-left, .fc-toolbar .fc-right, .fc-toolbar .fc-center {
    float: none;
    display: block;
    clear: both;
    margin: 10px 0; }
  .fc .fc-toolbar > * > * {
    float: none; }
  .fc-today-button {
    display: none; } }

.jqstooltip {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: auto !important;
  height: auto !important;
  background-color: #fff !important;
  -webkit-box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
  padding: 5px 10px !important;
  border-radius: 3px;
  border-color: #fff !important; }

.jqsfield {
  color: #323a46 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  font-family: "Nunito", sans-serif !important;
  font-weight: 700 !important; }

.dataTables_wrapper.container-fluid {
  padding: 0; }

table.dataTable {
  border-collapse: collapse !important;
  margin-bottom: 15px !important; }
  table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: #4a81d4; }
    table.dataTable tbody > tr.selected td, table.dataTable tbody > tr > .selected td {
      border-color: #4a81d4; }
  table.dataTable tbody td:focus {
    outline: none !important; }
  table.dataTable tbody th.focus, table.dataTable tbody td.focus {
    outline: 2px solid #4a81d4 !important;
    outline-offset: -1px;
    color: #4a81d4;
    background-color: rgba(74, 129, 212, 0.15); }

.dataTables_info {
  font-weight: 600; }

table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > th:first-child:before {
  -webkit-box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
  background-color: #1abc9c;
  top: 0.85rem; }

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
  background-color: #f1556c;
  top: 0.85rem; }

div.dt-button-info {
  background-color: #4a81d4;
  border: none;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 3px;
  text-align: center;
  z-index: 21; }
  div.dt-button-info h2 {
    border-bottom: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff; }

@media (max-width: 767.98px) {
  li.paginate_button.previous, li.paginate_button.next {
    display: inline-block;
    font-size: 1.5rem; }
  li.paginate_button {
    display: none; }
  .dataTables_paginate ul {
    text-align: center;
    display: block;
    margin: 1.5rem 0 0 !important; }
  div.dt-buttons {
    display: inline-table;
    margin-bottom: 1.5rem; } }

.activate-select .sorting_1 {
  background-color: #f1f5f7; }

.daterangepicker {
  font-family: "Nunito", sans-serif; }
  .daterangepicker td.active, .daterangepicker td.active:hover, .daterangepicker .ranges li.active {
    background-color: #4a81d4; }

.form-wizard-header {
  margin-left: -1.5rem;
  margin-right: -1.5rem; }

.select2-container .select2-selection--single {
  border: 1px solid #ced4da;
  height: 38px;
  outline: none; }
  .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
    padding-left: 12px; }
  .select2-container .select2-selection--single .select2-selection__arrow {
    height: 34px;
    width: 34px;
    right: 3px; }
    .select2-container .select2-selection--single .select2-selection__arrow b {
      border-color: #c0d2db transparent transparent transparent;
      border-width: 6px 6px 0 6px; }

.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #c0d2db transparent !important;
  border-width: 0 6px 6px 6px !important; }

.select2-results__option {
  padding: 6px 12px; }

.select2-dropdown {
  border: 1px solid #e1e9ee;
  -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
          box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15); }

.select2-container--default .select2-search--dropdown {
  padding: 10px;
  background-color: white; }
  .select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #e1e9ee;
    outline: none; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #4a81d4; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #f1f5f7;
  color: #323a46; }
  .select2-container--default .select2-results__option[aria-selected=true]:hover {
    background-color: #4a81d4;
    color: #fff; }

.select2-container .select2-selection--multiple {
  min-height: 38px;
  border: 1px solid #ced4da !important; }
  .select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 1px 10px; }
  .select2-container .select2-selection--multiple .select2-search__field {
    border: 0; }
  .select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #4a81d4;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 0 7px;
    margin-top: 7px; }
  .select2-container .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    margin-right: 5px; }
    .select2-container .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #fff; }

.slimScrollDiv {
  height: auto !important; }

.jq-toast-single {
  padding: 15px;
  font-family: "Nunito", sans-serif;
  background-color: #4a81d4;
  font-size: 13px;
  line-height: 22px; }
  .jq-toast-single h2 {
    font-family: "Nunito", sans-serif; }
  .jq-toast-single a {
    font-size: 0.875rem; }
    .jq-toast-single a:hover {
      color: #fff; }

.jq-has-icon {
  padding: 10px 10px 10px 50px; }

.close-jq-toast-single {
  position: absolute;
  top: -12px;
  right: -12px;
  font-size: 20px;
  cursor: pointer;
  height: 32px;
  width: 32px;
  background-color: #323a46;
  border-radius: 50%;
  text-align: center;
  line-height: 32px; }

.jq-toast-loader {
  height: 3px;
  top: 0;
  border-radius: 0; }

.jq-icon-primary {
  background-color: #4a81d4;
  color: #fff;
  border-color: #4a81d4; }

.jq-icon-secondary {
  background-color: #6c757d;
  color: #fff;
  border-color: #6c757d; }

.jq-icon-success {
  background-color: #1abc9c;
  color: #fff;
  border-color: #1abc9c; }

.jq-icon-info {
  background-color: #4fc6e1;
  color: #fff;
  border-color: #4fc6e1; }

.jq-icon-warning {
  background-color: #f7b84b;
  color: #fff;
  border-color: #f7b84b; }

.jq-icon-danger {
  background-color: #f1556c;
  color: #fff;
  border-color: #f1556c; }

.jq-icon-light {
  background-color: #f1f5f7;
  color: #fff;
  border-color: #f1f5f7; }

.jq-icon-dark {
  background-color: #323a46;
  color: #fff;
  border-color: #323a46; }

.jq-icon-pink {
  background-color: #f672a7;
  color: #fff;
  border-color: #f672a7; }

.jq-icon-blue {
  background-color: #4a81d4;
  color: #fff;
  border-color: #4a81d4; }

.jq-icon-error {
  background-color: #f1556c;
  color: #fff;
  border-color: #f1556c; }

.swal2-modal {
  font-family: "Nunito", sans-serif;
  -webkit-box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1); }
  .swal2-modal .swal2-title {
    font-size: 24px; }
  .swal2-modal .swal2-content {
    font-size: 16px; }
  .swal2-modal .swal2-spacer {
    margin: 10px 0; }
  .swal2-modal .swal2-file, .swal2-modal .swal2-input, .swal2-modal .swal2-textarea {
    border: 2px solid #dee2e6;
    font-size: 16px;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .swal2-modal .swal2-confirm.btn-confirm {
    background-color: #4a81d4 !important;
    font-size: 0.875rem; }
  .swal2-modal .swal2-cancel.btn-cancel {
    background-color: #f1556c !important;
    font-size: 0.875rem; }
  .swal2-modal .swal2-styled:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important; }

.swal2-icon.swal2-question {
  color: #4a81d4;
  border-color: #4a81d4; }

.swal2-icon.swal2-success {
  border-color: #1abc9c; }
  .swal2-icon.swal2-success .line, .swal2-icon.swal2-success [class^=swal2-success-line][class$=long],
  .swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: #1abc9c; }
  .swal2-icon.swal2-success .placeholder, .swal2-icon.swal2-success .swal2-success-ring {
    border-color: #1abc9c; }

.swal2-icon.swal2-warning {
  color: #f7b84b;
  border-color: #f7b84b; }

.swal2-icon.swal2-error {
  border-color: #f1556c; }
  .swal2-icon.swal2-error .line {
    background-color: #f1556c; }

.swal2-modal .swal2-file:focus, .swal2-modal .swal2-input:focus, .swal2-modal .swal2-textarea:focus {
  outline: 0;
  border: 2px solid #4a81d4; }

.swal2-container.swal2-shown {
  background-color: rgba(50, 58, 70, 0.9); }

[data-plugin="customselect"] {
  display: none; }

.nice-select {
  line-height: 36px;
  height: 38px;
  border-color: #ced4da;
  border-radius: 0.2rem; }

.nice-select.open, .nice-select:active, .nice-select:focus {
  border-color: #b1bbc4; }

.nice-select.small {
  height: 32px;
  line-height: 30px; }

.tippy-tooltip .light-theme[data-animatefill] {
  background-color: transparent; }

.light-theme {
  color: #323a46;
  -webkit-box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff; }
  .light-theme .tippy-backdrop {
    background-color: #fff; }
  .light-theme .tippy-roundarrow {
    fill: #fff; }

.gradient-theme .tippy-backdrop {
  background: #4a81d4;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, right top, left top, from(#f1556c), to(#4a81d4));
  background: linear-gradient(to left, #f1556c, #4a81d4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.tippy-popper[x-placement^=top] .tippy-tooltip.light-theme .tippy-arrow {
  border-top: 7px solid #fff;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent; }

.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-theme .tippy-arrow {
  border-bottom: 7px solid #fff;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent; }

.tippy-popper[x-placement^=left] .tippy-tooltip.light-theme .tippy-arrow {
  border-left: 7px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; }

.tippy-popper[x-placement^=right] .tippy-tooltip.light-theme .tippy-arrow {
  border-right: 7px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; }

.dd-list .dd-item .dd-handle {
  background: #f1f5f7;
  border: none;
  padding: 8px 16px;
  height: auto;
  font-weight: 600;
  border-radius: 3px; }
  .dd-list .dd-item .dd-handle:hover {
    color: #4a81d4; }

.dd-list .dd-item button {
  height: 36px;
  font-size: 17px;
  margin: 0;
  color: #98a6ad;
  width: 36px; }

.dd-list .dd3-item {
  margin: 5px 0; }
  .dd-list .dd3-item .dd-item button {
    width: 36px;
    height: 36px; }

.dd-list .dd3-handle {
  margin: 0;
  height: 36px !important;
  float: left; }

.dd-list .dd3-content {
  height: auto;
  border: none;
  padding: 8px 16px 8px 46px;
  background: #f1f5f7;
  font-weight: 600; }
  .dd-list .dd3-content:hover {
    color: #4a81d4; }

.dd-list .dd3-handle:before {
  content: "\F35C";
  font-family: "Material Design Icons";
  color: #adb5bd; }

.dd-empty,
.dd-placeholder {
  background: rgba(206, 212, 218, 0.2); }

.dd-dragel .dd-handle {
  -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
          box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15); }

div.hopscotch-bubble {
  border: 3px solid #4a81d4;
  border-radius: 5px; }
  div.hopscotch-bubble .hopscotch-next,
  div.hopscotch-bubble .hopscotch-prev {
    background-color: #4a81d4 !important;
    background-image: none !important;
    border-color: #4a81d4 !important;
    text-shadow: none !important;
    margin: 0 0 0 5px !important;
    font-family: "Nunito", sans-serif;
    color: #fff !important; }
  div.hopscotch-bubble .hopscotch-bubble-number {
    background: #f1556c;
    padding: 0;
    border-radius: 50%; }
  div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow-border {
    border-right: 19px solid #4a81d4; }
  div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow {
    border: none; }
  div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow {
    border-left: 19px solid #4a81d4;
    left: -2px; }
  div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow-border {
    border-left: 0 solid #4a81d4; }
  div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow {
    border-bottom: 19px solid #4a81d4;
    top: 0; }
  div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow-border {
    border-bottom: 0 solid rgba(0, 0, 0, 0.5); }
  div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow {
    border-top: 19px solid #4a81d4;
    top: -2px; }
  div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow-border {
    border-top: 0 solid rgba(0, 0, 0, 0.5); }
  div.hopscotch-bubble h3 {
    font-family: "Cerebri Sans", sans-serif;
    margin-bottom: 10px; }
  div.hopscotch-bubble .hopscotch-content {
    font-family: "Nunito", sans-serif; }

.flotTip {
  padding: 8px 12px;
  background-color: #323a46;
  z-index: 100;
  color: #fff;
  opacity: 1;
  border-radius: 3px; }

.legend tr {
  height: 30px;
  font-family: "Cerebri Sans", sans-serif; }

.legendLabel {
  padding-left: 5px !important;
  line-height: 10px;
  padding-right: 20px;
  font-size: 13px;
  font-weight: 500;
  color: #98a6ad;
  text-transform: uppercase; }

.legendColorBox div div {
  border-radius: 50%; }

@media (max-width: 767.98px) {
  .legendLabel {
    display: none; } }

.morris-chart text {
  font-family: "Cerebri Sans", sans-serif !important; }

.morris-hover {
  position: absolute;
  z-index: 10; }
  .morris-hover.morris-default-style {
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    padding: 10px 12px;
    background: #323a46;
    color: #fff;
    font-family: "Nunito", sans-serif; }
    .morris-hover.morris-default-style .morris-hover-row-label {
      font-weight: bold;
      margin: 0.25em 0;
      font-family: "Cerebri Sans", sans-serif; }
    .morris-hover.morris-default-style .morris-hover-point {
      white-space: nowrap;
      margin: 0.1em 0;
      color: #fff; }

.chartjs-chart {
  margin: auto;
  position: relative;
  width: 100%; }

.ct-golden-section:before {
  float: none; }

.ct-chart {
  max-height: 300px; }
  .ct-chart .ct-label {
    fill: #adb5bd;
    color: #adb5bd;
    font-size: 12px;
    line-height: 1; }

.ct-chart.simple-pie-chart-chartist .ct-label {
  color: #fff;
  fill: #fff;
  font-size: 16px; }

.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-a .ct-slice-donut {
  stroke: #4a81d4; }

.ct-chart .ct-series.ct-series-b .ct-bar,
.ct-chart .ct-series.ct-series-b .ct-line,
.ct-chart .ct-series.ct-series-b .ct-point,
.ct-chart .ct-series.ct-series-b .ct-slice-donut {
  stroke: #1abc9c; }

.ct-chart .ct-series.ct-series-c .ct-bar,
.ct-chart .ct-series.ct-series-c .ct-line,
.ct-chart .ct-series.ct-series-c .ct-point,
.ct-chart .ct-series.ct-series-c .ct-slice-donut {
  stroke: #f7b84b; }

.ct-chart .ct-series.ct-series-d .ct-bar,
.ct-chart .ct-series.ct-series-d .ct-line,
.ct-chart .ct-series.ct-series-d .ct-point,
.ct-chart .ct-series.ct-series-d .ct-slice-donut {
  stroke: #f1556c; }

.ct-chart .ct-series.ct-series-e .ct-bar,
.ct-chart .ct-series.ct-series-e .ct-line,
.ct-chart .ct-series.ct-series-e .ct-point,
.ct-chart .ct-series.ct-series-e .ct-slice-donut {
  stroke: #4fc6e1; }

.ct-chart .ct-series.ct-series-f .ct-bar,
.ct-chart .ct-series.ct-series-f .ct-line,
.ct-chart .ct-series.ct-series-f .ct-point,
.ct-chart .ct-series.ct-series-f .ct-slice-donut {
  stroke: #f672a7; }

.ct-chart .ct-series.ct-series-g .ct-bar,
.ct-chart .ct-series.ct-series-g .ct-line,
.ct-chart .ct-series.ct-series-g .ct-point,
.ct-chart .ct-series.ct-series-g .ct-slice-donut {
  stroke: #4a81d4; }

.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie {
  fill: #4a81d4; }

.ct-series-b .ct-area,
.ct-series-b .ct-slice-pie {
  fill: #1abc9c; }

.ct-series-c .ct-area,
.ct-series-c .ct-slice-pie {
  fill: #f7b84b; }

.ct-series-d .ct-area,
.ct-series-d .ct-slice-pie {
  fill: #f1556c; }

.ct-area {
  fill-opacity: .33; }

.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 10px;
  padding: 2px 10px;
  border-radius: 3px;
  background: #323a46;
  color: #fff;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear; }
  .chartist-tooltip.tooltip-show {
    opacity: 1; }

.c3-tooltip {
  -webkit-box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
  opacity: 1; }
  .c3-tooltip td {
    border-left: none;
    font-family: "Cerebri Sans", sans-serif; }
    .c3-tooltip td > span {
      background: #323a46; }
  .c3-tooltip tr {
    border: none !important; }
  .c3-tooltip th {
    background-color: #323a46; }

.c3-chart-arcs-title {
  font-size: 18px;
  font-weight: 600; }

.c3 text {
  font-family: "Nunito", sans-serif;
  color: #ced4da; }

.c3-legend-item {
  font-family: "Cerebri Sans", sans-serif;
  font-size: 14px; }

.c3 line, .c3 path {
  stroke: #ced4da; }

.c3-chart-arc.c3-target g path {
  stroke: #fff; }

#legend {
  background: white;
  position: absolute;
  top: 0;
  right: 15px; }

#legend .line {
  color: #323a46; }

.rickshaw_graph svg {
  max-width: 100%; }

.rickshaw_legend .label {
  font-family: inherit;
  letter-spacing: 0.01em;
  font-weight: 600; }

.rickshaw_graph .detail .item,
.rickshaw_graph .detail .x_label,
.rickshaw_graph .x_tick .title {
  font-family: "Nunito", sans-serif; }

.gauge-chart text {
  font-family: "Nunito", sans-serif !important; }

.responsive-table-plugin .dropdown-menu li.checkbox-row {
  padding: 7px 15px; }

.responsive-table-plugin .table-responsive {
  border: none;
  margin-bottom: 0; }

.responsive-table-plugin .btn-toolbar {
  display: block; }

.responsive-table-plugin tbody th {
  font-size: 14px;
  font-weight: normal; }

.responsive-table-plugin .checkbox-row {
  padding-left: 40px; }
  .responsive-table-plugin .checkbox-row label {
    display: inline-block;
    padding-left: 5px;
    position: relative;
    margin-bottom: 0; }
    .responsive-table-plugin .checkbox-row label::before {
      background-color: #fff;
      border-radius: 3px;
      border: 1px solid #ced4da;
      content: "";
      display: inline-block;
      height: 17px;
      left: 0;
      margin-left: -20px;
      position: absolute;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      width: 17px;
      outline: none; }
    .responsive-table-plugin .checkbox-row label::after {
      color: #ced4da;
      display: inline-block;
      font-size: 11px;
      height: 16px;
      left: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      position: absolute;
      top: -1px;
      width: 16px; }
  .responsive-table-plugin .checkbox-row input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: none; }
    .responsive-table-plugin .checkbox-row input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
  .responsive-table-plugin .checkbox-row input[type="checkbox"]:focus + label::before {
    outline-offset: -2px;
    outline: none; }
  .responsive-table-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; }
  .responsive-table-plugin .checkbox-row input[type="checkbox"]:disabled + label::before {
    background-color: #dee2e6;
    cursor: not-allowed; }
  .responsive-table-plugin .checkbox-row input[type="checkbox"]:checked + label::before {
    background-color: #fff;
    border-color: #4a81d4; }
  .responsive-table-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
    color: #4a81d4; }

.responsive-table-plugin table.focus-on tbody tr.focused th,
.responsive-table-plugin table.focus-on tbody tr.focused td,
.responsive-table-plugin .sticky-table-header {
  background: #4a81d4;
  border-color: #4a81d4;
  color: #fff; }
  .responsive-table-plugin table.focus-on tbody tr.focused th table,
  .responsive-table-plugin table.focus-on tbody tr.focused td table,
  .responsive-table-plugin .sticky-table-header table {
    color: #fff; }

.responsive-table-plugin .fixed-solution .sticky-table-header {
  top: 70px !important; }

.responsive-table-plugin .btn-default {
  background-color: #fff;
  color: #323a46;
  border: 1px solid rgba(50, 58, 70, 0.3); }
  .responsive-table-plugin .btn-default.btn-primary {
    background-color: #4a81d4;
    border-color: #4a81d4;
    color: #fff;
    -webkit-box-shadow: 0 0 0 2px rgba(74, 129, 212, 0.5);
            box-shadow: 0 0 0 2px rgba(74, 129, 212, 0.5); }

.responsive-table-plugin .btn-group.pull-right {
  float: right; }
  .responsive-table-plugin .btn-group.pull-right .dropdown-menu {
    left: auto;
    right: 0; }

@font-face {
  font-family: 'footable';
  src: url("../fonts/footable.eot");
  src: url("../fonts/footable.eot?#iefix") format("embedded-opentype"), url("../fonts/footable.woff") format("woff"), url("../fonts/footable.ttf") format("truetype"), url("../fonts/footable.svg#footable") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'footable';
    src: url("../fonts/footable.svg#footable") format("svg");
    font-weight: normal;
    font-style: normal; } }

.footable-odd {
  background-color: #fff; }

.footable-detail-show {
  background-color: #f1f5f7; }

.footable-row-detail {
  background-color: #F0F4F7; }

.footable-pagination li {
  margin-left: 5px;
  float: left; }
  .footable-pagination li a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #323a46;
    background-color: #fff;
    border: 1px solid #f1f5f7;
    border-radius: 2px; }

.footable-pagination li.active a {
  color: #fff;
  background-color: #4a81d4;
  border-color: #4a81d4; }

.footable > thead > tr > th > span.footable-sort-indicator {
  float: right; }

.bootstrap-table .table:not(.table-sm) > tbody > tr > td,
.bootstrap-table .table:not(.table-sm) > tbody > tr > th,
.bootstrap-table .table:not(.table-sm) > tfoot > tr > td,
.bootstrap-table .table:not(.table-sm) > tfoot > tr > th,
.bootstrap-table .table:not(.table-sm) > thead > tr > td {
  padding: 0.85rem; }

.bootstrap-table .table {
  border-bottom: none; }

.bootstrap-table .table > thead > tr > th {
  border-bottom: 2px solid transparent; }

table[data-toggle="table"] {
  display: none; }

.fixed-table-pagination .pagination-detail,
.fixed-table-pagination div.pagination {
  margin-top: 20px;
  margin-bottom: 0; }

.fixed-table-pagination .pagination .page-link {
  border-radius: 30px !important;
  margin: 0 3px;
  border: none; }

.fixed-table-container {
  border: none; }
  .fixed-table-container tbody td {
    border-left: none; }
  .fixed-table-container thead th .th-inner {
    padding: 0.85rem; }

.fixed-table-toolbar .fa {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

.fixed-table-toolbar .fa-toggle-down:before {
  content: "\f150"; }

.fixed-table-toolbar .fa-toggle-up:before {
  content: "\f151"; }

.fixed-table-toolbar .fa-refresh:before {
  content: "\f01e";
  font-weight: 900; }

.fixed-table-toolbar .fa-th-list:before {
  content: "\f0ca";
  font-weight: 900; }

.tablesaw thead {
  background: #f1f5f7;
  background-image: none;
  border: none; }
  .tablesaw thead th {
    text-shadow: none; }
  .tablesaw thead tr:first-child th {
    border: none;
    font-weight: 500;
    font-family: "Cerebri Sans", sans-serif; }

.tablesaw td {
  border-top: 1px solid #f1f5f7 !important; }

.tablesaw td,
.tablesaw tbody th {
  font-size: inherit;
  line-height: inherit;
  padding: 10px !important; }

.tablesaw-stack tbody tr,
.tablesaw tbody tr {
  border-bottom: none; }

.tablesaw-bar .btn-select.btn-small:after,
.tablesaw-bar .btn-select.btn-micro:after {
  font-size: 8px;
  padding-right: 10px; }

.tablesaw-swipe .tablesaw-cell-persist {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #f1f5f7; }

.tablesaw-enhanced .tablesaw-bar .btn {
  text-shadow: none;
  background-image: none;
  text-transform: none;
  border: 1px solid #dee2e6;
  padding: 3px 10px;
  color: #323a46; }
  .tablesaw-enhanced .tablesaw-bar .btn:after {
    display: none; }

.tablesaw-enhanced .tablesaw-bar .btn.btn-select:hover {
  background: #fff; }

.tablesaw-enhanced .tablesaw-bar .btn:hover,
.tablesaw-enhanced .tablesaw-bar .btn:focus,
.tablesaw-enhanced .tablesaw-bar .btn:active {
  color: #4a81d4 !important;
  background-color: #f1f5f7;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-image: none; }

.tablesaw-columntoggle-popup .btn-group {
  display: block; }

.tablesaw-swipe .tablesaw-swipe-cellpersist {
  border-right: 2px solid #f1f5f7; }

.tablesaw-sortable-btn {
  cursor: pointer; }

.jsgrid-cell {
  padding: 0.85rem; }

.jsgrid-grid-header,
.jsgrid-grid-body,
.jsgrid-header-row > .jsgrid-header-cell,
.jsgrid-filter-row > .jsgrid-cell,
.jsgrid-insert-row > .jsgrid-cell,
.jsgrid-edit-row > .jsgrid-cell {
  border: none; }

.jsgrid-alt-row > .jsgrid-cell {
  background: #fff; }

.jsgrid-selected-row > .jsgrid-cell {
  background: #f1f5f7;
  border-color: #f1f5f7; }

.jsgrid-header-row > .jsgrid-header-cell {
  background: #f1f5f7;
  text-align: center !important; }

.jsgrid-filter-row > .jsgrid-cell {
  background: #f7fafb; }

.jsgrid-edit-row > .jsgrid-cell,
.jsgrid-insert-row > .jsgrid-cell {
  background: #f1f5f7; }

.jsgrid input,
.jsgrid select,
.jsgrid textarea {
  border: 1px solid #f1f5f7;
  padding: .4em .6em;
  outline: none !important; }

.jsgrid-pager-container {
  margin-top: 10px; }

.jsgrid-pager-page {
  padding: 0;
  margin: 0 2px; }
  .jsgrid-pager-page.jsgrid-pager-current-page {
    background-color: #4a81d4;
    color: #fff; }

.jsgrid-pager-page a,
.jsgrid-pager-current-page {
  background-color: #f1f5f7;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  color: #6c757d; }

.jsgrid-pager-nav-button a {
  color: #6c757d;
  font-weight: 600; }
  .jsgrid-pager-nav-button a:hover {
    color: #4a81d4; }

.jsgrid .jsgrid-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-image: url("../images/jsgrid.png");
  background-color: #f7f7f7;
  outline: none !important; }
  .jsgrid .jsgrid-button:hover {
    opacity: 0.9;
    background-color: #f1f5f7; }

.jsgrid-search-mode-button {
  background-position: 0 -295px; }

.jsgrid-insert-button {
  background-position: 0 -160px; }

.jsgrid-header-sort:before {
  position: absolute; }

.ms-container {
  background: transparent url("../images/multiple-arrow.png") no-repeat 50% 50%;
  width: auto;
  max-width: 370px; }
  .ms-container .ms-list {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #ced4da; }
    .ms-container .ms-list.ms-focus {
      -webkit-box-shadow: none;
              box-shadow: none;
      border: 1px solid #b1bbc4; }
  .ms-container .ms-selectable li.ms-elem-selectable {
    border: none;
    padding: 5px 10px; }
  .ms-container .ms-selectable li.ms-hover {
    background-color: #4a81d4; }
  .ms-container .ms-selection li.ms-elem-selection {
    border: none;
    padding: 5px 10px; }
  .ms-container .ms-selection li.ms-hover {
    background-color: #4a81d4; }

.ms-selectable {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none !important; }

.ms-optgroup-label {
  font-weight: 500;
  font-family: "Cerebri Sans", sans-serif;
  color: #323a46 !important;
  font-size: 13px; }

.autocomplete-suggestions {
  border: 1px solid #f9f9f9;
  background: #fff;
  cursor: default;
  overflow: auto;
  max-height: 200px !important;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); }

.autocomplete-suggestion {
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden; }

.autocomplete-no-suggestion {
  padding: 5px; }

.autocomplete-selected {
  background: #f7f7f7;
  cursor: pointer; }

.autocomplete-suggestions strong {
  font-weight: bold;
  color: #323a46; }

.autocomplete-group {
  padding: 5px;
  font-weight: 500;
  font-family: "Cerebri Sans", sans-serif; }

.autocomplete-group strong {
  font-weight: bold;
  font-size: 16px;
  color: #323a46;
  display: block; }

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100% !important; }

.bootstrap-select .dropdown-toggle:before {
  content: "\F140";
  display: inline-block;
  font-family: "Material Design Icons"; }

.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
  outline-offset: 0; }

.bootstrap-select a {
  outline: none !important; }

.bootstrap-select .inner {
  overflow-y: inherit !important; }

.bootstrap-touchspin .btn .input-group-text {
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit; }

.parsley-errors-list {
  margin: 0;
  padding: 0; }
  .parsley-errors-list > li {
    list-style: none;
    color: #f1556c;
    margin-top: 5px;
    padding-left: 20px;
    position: relative; }
    .parsley-errors-list > li:before {
      content: "\F159";
      font-family: "Material Design Icons";
      position: absolute;
      left: 2px;
      top: -1px; }

.parsley-error {
  border-color: #f1556c; }

.parsley-success {
  border-color: #1abc9c; }

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
  background: #4a81d4;
  border-color: #4a81d4; }

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  -webkit-box-shadow: -10px 0 0 #4a81d4;
          box-shadow: -10px 0 0 #4a81d4; }

.flatpickr-time input:hover,
.flatpickr-time .flatpickr-am-pm:hover,
.flatpickr-time input:focus,
.flatpickr-time .flatpickr-am-pm:focus {
  background: #f1f5f7; }

.flatpickr-months .flatpickr-month {
  height: 36px; }

.clockpicker-popover .btn-default {
  background-color: #4a81d4;
  color: #fff; }

@font-face {
  font-family: "summernote";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/summernote.eot");
  src: url("../fonts/summernote.eot?#iefix") format("embedded-opentype"), url("../fonts/summernote.woff?") format("woff"), url("../fonts/summernote.ttf?") format("truetype"); }

.note-editor.note-frame {
  border: 1px solid #ced4da;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0; }
  .note-editor.note-frame .note-statusbar {
    background-color: #fcfcfc;
    border-top: 1px solid #f7f7f7; }
  .note-editor.note-frame .note-editable {
    border: none; }

.note-status-output {
  display: none; }

.note-editable {
  border: 1px solid #ced4da;
  border-radius: 0.2rem;
  padding: 0.45rem 0.9rem; }
  .note-editable p:last-of-type {
    margin-bottom: 0; }

.note-popover .popover-content .note-color .dropdown-menu,
.card-header.note-toolbar .note-color .dropdown-menu {
  min-width: 344px; }

.note-toolbar {
  z-index: 1; }

.ql-container {
  font-family: "Nunito", sans-serif; }

.ql-bubble {
  border: 1px solid #ced4da;
  border-radius: 0.2rem; }

.ql-toolbar {
  font-family: "Nunito", sans-serif !important; }
  .ql-toolbar span {
    outline: none !important; }

.dropzone {
  border: 2px dashed rgba(50, 58, 70, 0.3);
  background: #fff;
  border-radius: 6px; }

@font-face {
  font-family: 'dropify';
  src: url("../fonts/dropify.eot");
  src: url("../fonts/dropify.eot#iefix") format("embedded-opentype"), url("../fonts/dropify.woff") format("woff"), url("../fonts/dropify.ttf") format("truetype"), url("../fonts/dropify.svg#dropify") format("svg");
  font-weight: normal;
  font-style: normal; }

.dropify-wrapper {
  border: 2px dashed rgba(50, 58, 70, 0.3);
  background: #fff;
  border-radius: 6px; }

.editable-clear-x {
  background: url("../images/clear.png") center center no-repeat; }

.editableform-loading {
  background: url("../images/loading.gif") center center no-repeat; }

.editable-checklist label {
  display: block; }

.image-crop-preview .img-preview {
  float: left;
  margin-bottom: .5rem;
  margin-right: .5rem;
  overflow: hidden;
  background-color: #f1f5f7;
  text-align: center;
  width: 100%; }
  .image-crop-preview .img-preview > img {
    max-width: 100%; }

.image-crop-preview .preview-lg {
  height: 9rem;
  width: 16rem; }

.image-crop-preview .preview-md {
  height: 4.5rem;
  width: 8rem; }

.image-crop-preview .preview-sm {
  height: 2.25rem;
  width: 4rem; }

.image-crop-preview .preview-xs {
  height: 1.125rem;
  margin-right: 0;
  width: 2rem; }

.img-crop-preview-btns > .btn,
.img-crop-preview-btns > .btn-group {
  margin-bottom: 8px;
  margin-right: 8px; }

.docs-cropped .modal-body > img,
.docs-cropped .modal-body > canvas {
  max-width: 100%; }

.docs-drop-options {
  max-height: 400px;
  overflow-y: auto; }

.gmaps, .gmaps-panaroma {
  height: 300px;
  background: #f1f5f7;
  border-radius: 3px; }

.gmaps-overlay {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  background: #4a81d4;
  border-radius: 4px;
  padding: 10px 20px; }

.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute; }
  .gmaps-overlay_arrow.above {
    bottom: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #4a81d4; }
  .gmaps-overlay_arrow.below {
    top: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #4a81d4; }

.jvectormap-label {
  border: none;
  background: #323a46;
  color: #fff;
  font-family: "Cerebri Sans", sans-serif;
  font-size: 0.875rem;
  padding: 5px 8px; }

.mapael .map {
  position: relative; }
  .mapael .map .zoomIn {
    top: 25px; }
  .mapael .map .zoomOut {
    top: 50px; }

.mapael .mapTooltip {
  position: absolute;
  background-color: #4a81d4;
  opacity: 0.95;
  border-radius: 3px;
  padding: 2px 10px;
  z-index: 1000;
  max-width: 200px;
  display: none;
  color: #fff;
  font-family: "Cerebri Sans", sans-serif; }

.mapael .zoomIn,
.mapael .zoomOut,
.mapael .zoomReset {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;
  background-color: #4a81d4;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 10px;
  width: 24px;
  height: 24px;
  line-height: 24px; }

.mapael .plotLegend text {
  font-family: "Nunito", sans-serif !important; }

.datepicker {
  padding: 10px !important; }
  .datepicker td,
  .datepicker th {
    width: 30px;
    height: 30px;
    border-radius: 50%; }
  .datepicker table tr td.active.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:hover,
  .datepicker table tr td .active.disabled:hover[disabled],
  .datepicker table tr td .active.disabled[disabled],
  .datepicker table tr td .active:active,
  .datepicker table tr td .active:hover,
  .datepicker table tr td .active:hover.active,
  .datepicker table tr td .active:hover.disabled,
  .datepicker table tr td .active:hover:active,
  .datepicker table tr td .active:hover:hover,
  .datepicker table tr td .active:hover[disabled],
  .datepicker table tr td .active[disabled],
  .datepicker table tr td span.active.active,
  .datepicker table tr td span.active.disabled,
  .datepicker table tr td span.active.disabled.active,
  .datepicker table tr td span.active.disabled.disabled,
  .datepicker table tr td span.active.disabled:active,
  .datepicker table tr td span.active.disabled:hover,
  .datepicker table tr td span.active.disabled:hover.active,
  .datepicker table tr td span.active.disabled:hover.disabled,
  .datepicker table tr td span.active.disabled:hover:active,
  .datepicker table tr td span.active.disabled:hover:hover,
  .datepicker table tr td span.active.disabled:hover[disabled],
  .datepicker table tr td span.active.disabled[disabled],
  .datepicker table tr td span.active:active,
  .datepicker table tr td span.active:hover,
  .datepicker table tr td span.active:hover.active,
  .datepicker table tr td span.active:hover.disabled,
  .datepicker table tr td span.active:hover:active,
  .datepicker table tr td span.active:hover:hover,
  .datepicker table tr td span.active:hover[disabled],
  .datepicker table tr td span.active[disabled], .datepicker table tr td.today, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today:hover {
    background-color: #4a81d4 !important;
    background-image: none !important;
    color: #fff; }
  .datepicker table tr td.day.focused, .datepicker table tr td.day:hover,
  .datepicker table tr td span.focused,
  .datepicker table tr td span:hover {
    background: #f7f7f7; }
  .datepicker table tr td.new, .datepicker table tr td.old,
  .datepicker table tr td span.new,
  .datepicker table tr td span.old {
    color: #6c757d;
    opacity: 0.4; }
  .datepicker .datepicker-switch:hover,
  .datepicker .next:hover,
  .datepicker .prev:hover,
  .datepicker tfoot tr th:hover {
    background: #f7f7f7; }
  .datepicker .datepicker-switch:hover {
    background: none; }

.datepicker-dropdown:after {
  border-bottom: 6px solid #fff; }

.datepicker-dropdown:before {
  border-bottom-color: #e7eef1; }

.datepicker-dropdown.datepicker-orient-top:before {
  border-top: 7px solid #e7eef1; }

.datepicker-dropdown.datepicker-orient-top:after {
  border-top: 6px solid #fff; }
