/* Theme overrides */
body {
  padding-bottom: 0 !important;
}
.dropdown-toggle:after {
  display: none !important;
}
.navbar-custom .topnav-menu .nav-link {
  color: #f1f5f7 !important;
  font-weight: 700;
}
.navbar-custom .topnav-menu .nav-link.active-link {
  background-color: #c0c6cc;
  color: #333 !important;
}
div .table-responsive {
  min-height: 300px
}
#grid_table td {
  vertical-align: middle;
}
.checkbox.checkbox-wo-label label:before {
  top: -12px !important;
  left: 7px !important;
}
.checkbox.checkbox-wo-label label:after {
  top: -8px !important;
  left: 14px !important;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid rgba(0,0,0,.3);
  outline: none;
  box-sizing: border-box;
}

input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  width: 9px;
  height: 14px;
  border: 0 solid rgb(0, 0, 0);
  border-width: 0 1px 1px 0;
  -webkit-transform: rotateZ(45deg);
  pointer-events: none;
}


label.wholesale {
  font-weight: 500!important;
  font-size: 11px;
  margin: 0px!important;
  padding: 0px!important;
}

label.wholesale > input[type="checkbox"] {
  width:12px;
  margin: 0px!important;
  padding: 0px!important;
}
.wholesale_table th {
  font-size: 12px;
}
.wholesale_table .route-section td{
  font-size: 12px;
}

.wholesale_table td{
  font-size: 13px;
}

.wholesale_table .up th {
  border-bottom: none;
  vertical-align: middle;

}
.wholesale_table .down th{
  font-weight: 400;
  border: none;
}

.wholesale_table .bordered-l-r {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.wholesale_table .bordered-r {
  border-right: 1px solid #ccc!important;
}

.form-control-inline {
  display: inline-block;
  width: 33%;
}




.tooltip-inner {
  background-color: #fff;
  color: #000;
  border: 1px solid #062e56;
}

.tooltip-arrow {
  border-top: 5px solid #062e56;
}


.wholesale_table tr:hover {
    background-color: darkgray;
}

[data-toggle="collapse"] {
  cursor: pointer;
  font-size: 15px;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}
.input-clear {
  position: absolute;
  right: 5px;
  top: 6px;
  cursor: pointer;
  width: 18px;
  height: 18px;
  background: url(/images/icon_cross.png) center center no-repeat;
  background-size: contain;
}
.filter-radio-wr {
  height: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75%;
}
@media (max-width: 1650px) {
  .filter-radio-wr {
    max-width: 100%;
  }
}
@media (max-width: 1300px) {
  .period-label {
    display: none;
  }
}
@media (max-width: 1199px) {
  .filter-radio-wr {
    max-width: 55%;
    margin-bottom: 1rem;
  }
}

.page__header {
  margin-bottom: 1rem;
}
.page__header .navbar .nav-link,
.page__header .navbar .dropdown .nav-link {
  color: #fff;
}
.page__header .navbar .nav-link:hover,
.page__header .navbar .nav-link:active,
.page__header .navbar .nav-link:focus {
  color: #d3dae5;
}
.page__header .navbar .nav-link.active-link {
  color: #000;
  background: #fff;
}
.page__header .navbar-brand img {
  max-width: 160px;
}
.dropdown-menu {
  webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
@media(max-width: 992px) {
  .page__header .navbar-light {
    position: absolute;
    top: 0;
    left: 200px;
    background: #0039c2;
    z-index: 10;
  }
  .page__header .navbar-light .navbar-toggler {
    background: #ccc;
  }
}


/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.erp-table td:first-child {
  width: 110px;
}
.erp-table td:first-child a {
  white-space: nowrap;
}
.erp-table td:nth-child(2) {
  width: 330px;
}
.erp-table td:nth-child(3) {
  width: 185px;
}
.erp-table td:nth-child(4) {
  width: 160px;
}
.erp-table td:nth-child(5) {
  width: 180px;
}
.erp-table td:nth-child(6) {
  width: 120px;
}
.erp-table td:nth-child(7) {
  width: 110px;
}
.erp-table td:nth-child(8) {
  width: 400px;
}
.erp-table td:nth-child(9) {
  width: 140px;
}
.erp-table td:nth-child(10) {
    width: 110px;
}
.erp-table td {
  border-top: 0;
}
.erp-header-title h3 {
  margin-bottom: 0;
}
.erp-header-title .erp-table {
  text-align: right;
}
.nowrap {
  white-space: nowrap;
}
.label-primary {
  color: #007bff;
  border: 1px solid #007bff;
  padding: 0 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  font-size: 10px;
  border-radius: 3px;
  white-space: nowrap;
}
.route-section-heading {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  background: #f3f5f8;
  font-size: 14px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}
.route-section-heading .rounded-circle {
  border-color: #979797 !important;
  color: #979797;
}
.route-section-completed {
  color: #3bb273 !important;
}
.route-section-completed .rounded-circle {
  border-color: #3bb273 !important;
  color: #3bb273;
}
table .dropdown-menu.show {
  left: -60px !important;
}
.search-checkboxes {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: .75rem;
  margin-left: .75rem;
}
.search-checkboxes .checkbox label {
  cursor: pointer;
  font-size: 12px;
  line-height: 22px;
  margin-right: 20px;
}
.search-checkboxes .checkbox {
  margin-top: 15px;
}
tr:hover .text-overflow span {
  display: none;
}
tr:hover .text-overflow:after {
  display: block;
  content: attr(data-full-text);
}
.search-result-controls span {
  cursor: pointer;
}
.filter-section {
  position: relative;
  padding: 1rem;
  border-bottom: 1px solid #c0c6cc;
}
.filter-section:last-child {
  border-bottom: 0 none;
}
.filter-section .mdi {
  transition: transform .3s;
}
.filter-section .collapsed .mdi {
  transform: rotate(270deg);
}
.text-big {
  font-size: 16px;
}

.badge-hollow {
  color: #6c757d !important;
  border: 1px solid #6c757d;
  background: transparent !important;
  font-size: 13px !important;
  font-weight: 400 !important;
}
.card-toggler {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.card-details-toggler {
  font-size: 12px;
  cursor: pointer;
}
.card-toggler i {
  font-size: 24px;
  cursor: pointer;
  transition: transform .3s;
  transform-origin: 50% 40%;
}
.opened .card-toggler i {
  transform: rotate(180deg);
}
.bg-white.rounded,
.card {
  -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
.bg-white.rounded .bg-white.rounded {
  box-shadow: none !important;
}
.bg-white.rounded .bg-white.rounded.suggestions {
  webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
.card-details-table {
  max-width: 250px;
}
.card-details-table td {
  padding: 0 !important;
}
.route-icon {
  position: relative;
}
.card-order-route .mdi.rounded-circle {
  color: #323a46;
  border-color: #323a46 !important;
}
.btn-to-cart {
  width: 145px;
  transition: all .5s !important;
}
.price-detail {
  color: #6c757d;
  font-size: 14px;
  white-space: nowrap;
  margin-top: .25rem;
}
.search-result-controls:not(.col-xl-12) {
  max-width: 1035px;
}
.search-result-card {
  max-width: 1000px;
}
.navbar-custom .logo-lg  {
  height: 70px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60%;
}
@media (max-width: 1200px) {
  .erp-header-title .erp-table {
    text-align: left;
  }
}
.formulas.row table td,
.formulas.row table th {
  height: 50px;
  vertical-align: middle;
}
.formulas.row select {
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
}
#search_form.sticky {
  z-index: 1000;
  position: sticky;
  top: 15px;
}
#search_form.collapsed {
  padding: 15px 30px !important;
}
.sticky-search__item {
  font-size: 16px;
  margin-right: 2rem;
}
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-enter{
  transform: translateX(10px);
  opacity: 0;
}
.icon-vertical-collapse {
  top: 20px !important;
}
.icon-horizontal-collapse {
  top: 5px !important;
}

.has-hint {
  position: relative;
}

.has-hint[data-hint]:hover:after {
  background-color: #f1f5f7;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  color: #000;
  position: absolute;
  left: 20px;
  right: 20px;
  margin: -30px auto 0 auto;
  content: attr(data-hint);
  -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  z-index: 999;
}
.form-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .7);
}
#search_result #filters {
  margin-top: 45px;
}
#search_form.sticky {
  z-index: 1000;
  position: sticky;
  top: 15px;
}
#search_form.collapsed {
  padding: 15px 30px !important;
}
.sticky-search__item {
  font-size: 16px;
  margin-right: 2rem;
}
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-enter{
  transform: translateX(10px);
  opacity: 0;
}
.icon-vertical-collapse {
  top: 20px !important;
}
.icon-horizontal-collapse {
  top: 5px !important;
}